* {
  margin: 0;
  padding: 0;
}

body {
  background: $grayBg;
}

.sidebar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background: $purple;
    width: 250px;
    transition: all 0.3s;

    .logo-header {
        display: block;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 28px 15px;

        img {
            max-width: 160px;
        }
    }

    .body-sidebar {
        height: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 50px;
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: $strongGray;
            border-radius: 50px;
            opacity: 0;
        }

        .nav-link {
            color: #a3a6b7;
            padding: 16px 20px;
            display: flex;
            gap: 11px;

            svg {
                width: 16px;
                transition: all ease 0.3s;
                fill: #a3a6b7;
            }

            span {
                display: inline;
            }

            &:hover{
                color: #fff;

                svg {
                    fill: #fff;
                }
            }
        }

        .router-link-exact-active {
            color: #fff;

            svg {
                fill: #fff;
            }
        }
    }

    .title-sibebar {
        font-size: 12px;
        text-transform: uppercase;
        padding: 12px 20px 10px 20px;
        color: $gray;
        margin-bottom: 0;

        .desck-visible{
            display: block;
        }
        .mob-visible{
            display: none;
        }
    }

    .accordion-sidebar {
        .accordion-item {
            background: transparent !important;
            border: none;

        .accordion-header {
            .accordion-button {
                font-size: 0.925rem;
                color: $strongGray;
                background: transparent !important;
                transition: 0.3s;

                &:focus {
                    box-shadow: none;
                }

                &:after {
                    display: none;
                }

                .arrow-chevron {
                    position: absolute;
                    right: 15px;
                    width: 7px;
                    height: 13px;
                    fill: $strongGray;
                    transition: 0.3s;
                    transform: rotate(90deg);
                }

                &:not(.collapsed) {
                    color: $white;
                    box-shadow: none !important;

                    .arrow-chevron {
                        transform: rotate(0deg);
                    }

                    .arrow-chevron {
                        fill: $white;
                    }

                    svg {
                        fill: $white;
                    }
                }

                svg {
                    width: 15px;
                    height: 15px;
                    fill: $strongGray;
                    margin-right: 11px;
                    margin-left: 5px;
                    transition: 0.3s;
                }

                &:hover {
                    color: $white;

                    .arrow-chevron {
                        fill: $white;
                    }

                    svg {
                        fill: $white;
                    }
                }
            }
        }

        .accordion-body {
            padding: 0 0 0 12px;

            .sub-menu {
            .accordion-body {
                padding: 0 20px;
            }

            .accordion-button {
                padding-top: 8px;
                font-size: 14px;
                padding-left: 50px;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 6px;
                    background: $strongGray;
                    left: 30px;
                }
            }
            }
        }
        }
    }

    .sub-nav-dropdown {
        margin-bottom: 0;
        padding-left: 10px;

        li {
            display: block;

        a {
            display: block;
            font-size: 14px;
            color: $strongGray;
            background: transparent !important;
            transition: 0.3s;
            text-decoration: none;
            transition: 0.3s;
            padding-left: 30px;
            position: relative;
            padding-bottom: 10px;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 15px;
                top: 11px;
                margin-top: -2px;
                border-radius: 50px;
                width: 5px;
                height: 5px;
                border: 1px solid $strongGray;
            }

            &:hover {
             color: $white;
            }
        }
        }
    }

    .button-opened-accordion{
        display: none;
    }

    &.closedSide {
        width: 70px;

        .logo-header{
            padding: 25px 15px;

            img{
                max-width: 22px;
                max-height: 22px;
            }
        }

        .body-sidebar {
            overflow: initial;

            .accordion-sidebar{
                .accordion-item{
                    .accordion-header {
                        .accordion-button {
                            justify-content: center;
                            padding: 16px 25px;
                            .title-link{
                                display: none;
                            }
                            .arrow-chevron{
                                display: none;
                            }
                            svg{
                                margin: auto;
                                width: 22px;
                                height: 22px;
                            }
                        }
                    }

                    &.first-accordion-item{
                        position: relative;

                        >.accordion-collapse{
                            position: absolute;
                            left: 100%;
                            top: 0;
                            background: $purple;
                        }

                        .button-opened-accordion{
                            display: block;
                            font-size: 0.925rem;
                            color: $white;
                            background: transparent !important;
                            transition: 0.3s;
                            background: transparent;
                            padding: 13.79px;
                            min-width: 220px;

                            &:focus {
                                box-shadow: none!important;
                            }
                            
                            &:not(.collapsed){
                                box-shadow: none!important;
                            }

                            &:after {
                                display: none;
                            }

                            .arrow-chevron {
                                position: absolute;
                                right: 15px;
                                width: 7px;
                                height: 13px;
                                fill: $strongGray;
                                transition: 0.3s;
                                transform: rotate(90deg);
                            }            
                        }
                    }
                }
            }
        }

        .sub-nav-dropdown {
            margin-bottom: 0;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            li {
                display: flex;
    
                a {
                    display: block;
                    font-size: 14px;
                    color: $strongGray;
                    background: transparent !important;
                    transition: 0.3s;
                    text-decoration: none;
                    transition: 0.3s;
                    padding-left: 30px;
                    position: relative;
                    padding-bottom: 0px;
        
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 15px;
                        top: 11px;
                        margin-top: -2px;
                        border-radius: 50px;
                        width: 5px;
                        height: 5px;
                        border: 1px solid $strongGray;
                    }
        
                    &:hover {
                    color: $white;
                    }
                }
            }
        }

        .nav-link {
            padding: 16px 25px;

            .title-link {
                display: none;
            }

            svg {
                width: 19px;
            }
        }
        .accordion-sidebar {
            .accordion-body {
                padding: 0;
            }
            .accordion-item {
                position: relative;
        
                .accordion-collapse {
                    width: 200px;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    z-index: 1;
                    background: $purple;

                    .sub-nav-dropdown {
                        padding: 16px;
                    }
                }
            }
        }
        

        .title-sibebar {
            .desck-visible{
                display: none;
            }
            .mob-visible{
                display: block;
                font-size: 23px;
                text-align: center;
            }
        }
    }
}


.nav-header{
    background: $white;
    width: calc(100% - 70px);
    height: 70px;
    position: fixed;
    right: 0;
    transition: 0.3s;
    z-index: 1;

    &.openSide{
        width: calc(100% - 250px);
    }

    .navbar-header{
        height: 100%;
        padding: 15px 27px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .first-box{
            display: flex;
            align-items: center;

            .input-group{
                margin-left: 15px;

                .form-control{
                    background: $lightGray;
                    border: none;
                    height: 38px;
                    color: $purple;
                    font-size: 13px;
                    line-height: 38px;
                    padding: 0 12px;
                    display: block;
                    box-sizing: border-box;

                    &::placeholder{
                        color: $grayBtn;
                        line-height: 38px;
                    }

                    &:focus{
                        box-shadow: none!important;
                    }
                }

                .btn{
                    border: none;
                    background: $lightGray;
                    display: flex;
                    align-items: center;
                    padding: 10px 0 10px 15px;
                    
                    svg{
                        width: 12px;
                        fill: $grayBtn;
                    }
                }
            }
        }

        .second-box {
            .icon-user {
               
                width: 35px;
                height: 35px;
                cursor: pointer;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;

                span {
                    font-weight: 600;
                    color: #fff;
                }
            }

            .dropdown-user {
                width: 179.094px;
                height: 91px;
                margin: -1px 0px 0px;
                padding: 8px 0px;
                border: 0px solid rgb(233, 235, 236);
                display: block;
                box-sizing: border-box;
                border-radius: 4.8px;
                background: rgb(255, 255, 255) padding-box;
                box-shadow: rgba(30, 32, 37, 0.12) 0px 5px 10px 0px;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: -279.141px;
                font-size: 13px;
                font-family: Inter, sans-serif;
                font-weight: 400;
                text-align: left;
                line-height: 19.5px;
                color: rgb(33, 37, 41);
                
                .user {
                    color: #154c7c;
                    fill: #154c7c;
                }
                .dropdown-item {
                    width: 179.094px;
                    height: 35.1875px;
                    padding: 5.9px 19.2px;
                    display: block;
                    box-sizing: border-box;
                    font-size: 13px;
                    font-family: Inter, sans-serif;
                    font-weight: 400;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 19.5px;
                    color: rgb(33, 37, 41);

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: all 0.3s;

                    span {
                        color: #a3a6b7;
                    }

                    .power-profile {
                        fill: #a3a6b7!important;
                    }

                    .circle {
                        background-color: transparent;
                        width: 26px;
                        height: 26px;
                        padding: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        color: #fff;
                    }

                    &:hover {
                        background-color: #f0f0f09c;
                        padding-left: 22px;
                    }
                }
                
            }
            
        }

        .btn-hamburger{
            background: transparent;
            border: none;
            transition: all 0.3s;
            position: relative;

            span{
                display: block;
                height: 2px;
                background: $grayBtn;
                border-radius: 50px;
                transition: all 0.3s;
                position: absolute;
                margin: 0;
                
                &:nth-child(1){
                    left: 1px;
                    top: 4.5px;
                    width: 20px;
                    -webkit-transform: rotate(90deg);
                    transform: rotate(0);
                    -webkit-transition-delay: 150ms;
                    transition-delay: 150ms;
                }

                &:nth-child(2){
                    left: 13px;
                    top: 2px;
                    width: 10px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -webkit-transition-delay: 50ms;
                    transition-delay: 50ms;
                }

                &:nth-child(3){
                    left: 13px;
                    top: 8px;
                    width: 10px;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
                }
            }
        }
    }

    &.openSide{

        .navbar-header{

            .btn-hamburger{

                span{
                    position: initial;
                    margin-bottom: 4px;

                    &:nth-child(1){
                        width: 16px;
                    }
    
                    &:nth-child(2){
                        width: 20px;
                        transform: rotate(0);
                    }
    
                    &:nth-child(3){
                        width: 12px;
                        margin-bottom: 0;
                        transform: rotate(0);
                    }
                }
            }
        }
    }
}



.container-card{
    padding: 0 15px;
}

.card{
    background: $white;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ececec;
    margin-bottom: 15px;
    box-shadow: 0 3px 3px rgba(56,65,74,.1);

    .card-header{
        padding: 1rem;
        border: none;
        background: $white;
        box-shadow: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ededed;

        .title-card{
            font-size: 16px;
            color: $colorTitle;
            margin-bottom: 0;
        }

        .title-search {
            display: flex;
            align-items: center;
            gap: 7px;
    
            .input-group {
                width: auto;
                display: flex;
                align-items: center;
                
                input {
                    width: 300px;
                    line-height: 1.5;
                    padding: 0.375rem 0.75rem;
                    vertical-align: middle;
                }

                button {
                    z-index: 0;
                    border: 1px solid #dee2e6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        background-color: #fff;
                    }
                    svg {
                        width: 15px;
                        fill: #7c8186;
                    }
                }
            }
        }

        .btn-secondary{
            font-size: 14px;
            padding: 2px 15px;
        }
    }
}

.table-responsive{
    margin-top: 0!important;

    .table{
        margin-bottom: 0;

        tr{
            td, th{
                border: none;
                padding: 10px 1rem;
            }
            td{
                font-size: 14px;
                vertical-align: middle;
            }
        }
    }
}

.box-header-title{
    background: $white;
    padding: 10px 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 19px -14px #000;
    border-top: 1px solid $colorBorder;
    text-transform: uppercase;
    
    h3{
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 0;
        color: $colorTitle;
    }
}

.section-results{
    .card{
        margin-left: 30px;
    }
}

.results {
    padding: 20px;
    cursor: pointer;
    justify-content: center;
    border-left: 2px solid #161528;

    span {
        font-size: 1rem;
        font-weight: 600;
    }
 }
