//Bootstrap
@import 'bootstrap/scss/bootstrap';


//Colors Variables
$grayBg: #f2f2f7;
$gray: #9b9eb1;
$purple: #151529;
$white: #fff;
$strongGray: #a3a6b7;
$grayBtn: #878a99;
$lightGray: #f3f3f9;
$green: #0aad00;
$greenHover: #099500;

$colorTitle: #495057;
$colorBorder: #e5e5e5;